$text-color: #f7596a;

* {
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

figure {
  max-width: 480px;
  min-width: 240px;
}

img {
  display: block;
  width: 100%;
  border: #fff 10px solid;
  box-shadow: 5px 5px 5px #bcbcbc;
}

@media (min-width: 640px) {
  img {
    float: left;
    margin-right: 1em;
  }
}

.external-links li {
  list-style: none;
}

a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: darken($text-color, 20%);
  text-decoration: underline;
}
