<ul class="links">
  <li>
    <a class="icon-link js-outbound" href="http://goo.gl/forms/KKqh1h1TfVYzZ85w2" title="Contact Me">
      <svg class="icon icon-envelope-o">
        <use xlink:href="symbol-defs.svg#icon-envelope-o"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="icon-link js-outbound" href="https://www.github.com/notaurologist" title="GitHub">
      <svg class="icon icon-github">
        <use xlink:href="symbol-defs.svg#icon-github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="icon-link js-outbound" href="https://www.linkedin.com/in/jlemoine" title="LinkedIn">
      <svg class="icon icon-linkedin">
        <use xlink:href="symbol-defs.svg#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="icon-link js-outbound" href="https://www.twitter.com/notaurologist" title="Twitter">
      <svg class="icon icon-twitter">
        <use xlink:href="symbol-defs.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="icon-link js-outbound" href="https://www.last.fm/user/mrbaloo" title="last.fm">
      <svg class="icon icon-lastfm">
        <use xlink:href="symbol-defs.svg#icon-lastfm"></use>
      </svg>
    </a>
  </li>
  <li>
    <a class="icon-link js-outbound" href="https://getpocket.com/@notaurologist" title="Pocket">
      <svg class="icon icon-get-pocket">
        <use xlink:href="symbol-defs.svg#icon-get-pocket"></use>
      </svg>
    </a>
  </li>
</ul>
