<!doctype html>
<html>

<head>
  <script>
    WebFontConfig = {
      google: { families: [ 'Open+Sans::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <style>
    {% include style.css %}
  </style>
</head>

<body>
  <div class="container">
    {% include links.html %}
    {{ content }}
  </div>
  <script src="/scripts/svgxuse.min.js" defer async></script>
  <script src="/scripts/main.js" defer async></script>
  <script type="application/ld+json">
    {{ site.data.linked }}
  </script>
  <!-- sudo hire me -->
</body>

</html>
